head
    title="Index"
    meta(name='description', content='Index description')
    meta(name='og:title', content="Index")
    link(rel='shortcut icon', href='/images/static/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/index.css')
body
    h1#main Hola Mundo!
    script(src="/js/index.js")