head
    title="Test"
    meta(name='description', content='Test description')
    meta(name='og:title', content="Test")
    link(rel='shortcut icon', href='/images/static/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/test.css')
body
    h1#main Hola Test!
    script(src="/js/test.js")