/**
MEDIA SCSS - Importa todos los componentes necesarios definidos en package.json
 */
@import "~sweetalert2/src/sweetalert2";

body {
  color: #fff;
  background: #000 url("../../../src/images/movistar.png") center center no-repeat;
  text-align: center;
}