@font-face {
  font-family: "ROBOTO";
  src: url("../../../src/fonts/Roboto-Bold.ttf") format("TrueType");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ROBOTO";
  src: url("../../../src/fonts/Roboto-Italic.ttf") format("TrueType");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ROBOTO";
  src: url("../../../src/fonts/Roboto-Light.ttf") format("TrueType");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ROBOTO";
  src: url("../../../src/fonts/Roboto-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}